:root {
	--container-width: 1290px;
	--container-padding: 15px;

	--font-main: 'Nunito', "Arial", sans-serif;
	--font-accent: 'Playfair Display', serif;

	--white: rgb(255, 255, 255);
	--orange: rgb(255, 171, 8);
	--dark-orange: rgb(255, 112, 32);
	--black: rgb(0, 0, 0);
	--dark-white: rgb(249, 249, 249);
	--silver: rgb(242, 242, 243);
	
	
	// --accent: #ac182c;

    // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}