.header {
	background-color: var(--orange);
	padding: 21px 0 95px;
    clip-path: ellipse(56% 76% at 50% 23%);
	
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& .wrapper {
		margin: 0 20%;
		display: flex;
		justify-content: space-between;
	}
}

.header__logo {
	display: block;
	margin: 0 auto 25px;
}

.header__title-wrapper {
	margin-top: 40px;

	& h1 {
		margin-bottom: 55px;
		font-family: var(--font-main);
		font-size: 50px;
		font-weight: 800;
		line-height: 120%;
		color: var(--white);
	}

	& span {
		color: rgb(255, 92, 0);
	}

	& p {
		font-family: var(--font-main);
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		color: var(--white);
	}
}

.header__burger-picture {
	position: relative;
	height: 290px;
	width: 290px;
	
	& :nth-child(1) {
		position: absolute;
		content: '';
		top: 20px;
		left: 30px;
		z-index: 7;
		transition: all 0.5s;
	}

	& :nth-child(2) {
		position: absolute;
		content: '';
		top: 80px;
		left: 20px;
		z-index: 6;
		transition: all 0.5s;
	}

	& :nth-child(3) {
		position: absolute;
		content: '';
		top: 100px;
		left: 25px;
		z-index: 5;
		transition: all 0.5s;
	}

	& :nth-child(4) {
		position: absolute;
		content: '';
		top: 77px;
		left: 35px;
		z-index: 4;
		transition: all 0.5s;
	}

	& :nth-child(5) {
		position: absolute;
		content: '';
		top: 115px;
		left: 30px;
		z-index: 3;
		transition: all 0.5s;
	}

	& :nth-child(6) {
		position: absolute;
		content: '';
		top: 115px;
		left: 50px;
		z-index: 2;
		transition: all 0.5s;
	}

	& :nth-child(7) {
		position: absolute;
		content: '';
		bottom: 0px;
		left: 50px;
		z-index: 1;
		transition: all 0.5s;
	}

	&:hover {
		& svg:nth-child(1) {
			transform: translate(-20px, -40px);
		}

		& svg:nth-child(2) {
			transform: translate(-10px, -30px);
		}

		& svg:nth-child(3),
		  svg:nth-child(4) {
			transform: translate(-5px, -20px);
		}

		& svg:nth-child(5) {
			transform: translate(0px, -10px);
		}

		& svg:nth-child(7) {
			transform: scaleX(1.2);
		}
	}
}