.menu {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 100px;

    & .wrapper {
        display: flex;
        justify-content: space-between;
    }
}